footer {
  background-color: #fdf0e9;
  width: 100%;
  .container {
    .footer-up {
      .fup-content {
        display: flex;
        justify-content: space-between;
        padding: 60px 0;
        width: 100%;
        h4 {
          font-family: "Epilogue", sans-serif;
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
        }
        ul {
          h5 {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 3px;
            color: #ef6d58;
            padding-bottom: 15px;
          }
          li {
            font-family: "Epilogue", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
          }
        }
      }
    }
    .footer-down {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Epilogue", sans-serif;
      padding: 45px 0 ;
      p{
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        color: #391400A3;
        opacity: 64%;
      }
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
      }
    }
  }
}


/* Responsibility */

@media screen and (max-width: 528px) {
  footer {
    .container {
      .footer-up {
        .fup-content {
          flex-direction: column;
          text-align: center;
        }
      }
      .footer-down {
        flex-direction: column;
        text-align: center;
        padding: 25px 0;
      }
    }
  }
}