header {
  width: 100%;
  background-color: #28293e;
  padding: 15px 0;
  .container {
    nav {
      .nav-header {
        .nav-content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 120px;
            color: #fff;
            text-align: center;
            font-family: "Epilogue", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
          }
          button{
            font-family: "Epilogue", sans-serif;
            font-size: 14px;
            font-weight: 900;
            line-height: 14.35px;
            text-align: center;
            background-color: #28293e;
            color: #fff;
            padding: 20px 30px;
            border-radius: 8px;
            border: none;
            border: 0.1px solid #fff;
          }
          .hamb{
            color: #fff;
            font-size: 40px;
            display: none;
            padding: 8px;
            border: 0.5px solid #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    .container {
      nav {
        .nav-header {
          .nav-content {
            ul {
              display: none;
            }
            button{
              display: none;
            }
            .hamb{
              display: block;
            }
          }
        }
      }
    }
  }
}